<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Spotify Song</title>
    <style>
        #song {
            text-align: center;
            margin-top: 20px;
        }
        #song img {
            display: block; /* Ensures the image appears on a new line */
            margin-top: 10px; /* Adds space between the text and the image */
            margin-left: auto;
            margin-right: auto; /* Centers the image horizontally */
            width: 80%; /* Adjust the size as necessary */
            max-width: 640px; /* Maximum size of the image */
        }
    </style>
</head>
<body>
    <h1>Click to get a random Spotify song!</h1>
    <button onclick="fetchSong()">Get Song</button>
    <div id="song"></div>

    <script>
        function fetchSong() {
            fetch('/get-song', { method: 'POST' })
            .then(response => response.text())
            .then(html => {
                document.getElementById('song').innerHTML = html.replace(/\"/g, '');
            }).catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>